In [1]:
import pandas as pd
import tensorflow as tf
from itertools import combinations_with_replacement

## Rewards

In [2]:
gamma = 0.9
rewards = []

for i in combinations_with_replacement([1, 2, 3], 5):
    for s in range(0, 6):  
        discount_rate = gamma ** s
        reward = 0
        for j in i:
            if j == 1:
                reward += -3 / discount_rate
            elif j == 2:
                reward += 2 * discount_rate
            elif j == 3:
                reward += 3 * discount_rate

        if i == (3, 3, 3, 3, 3):
            reward += 15 * discount_rate
            
        rewards.append({
            'stage': s+1,
            'game_state': i,
            'reward': round(reward, 2),
            'discount_rate': round(discount_rate, 2)
        })

rewards = pd.DataFrame.from_dict(rewards).sort_values(by=['stage', 'game_state'])
rewards

     stage       game_state  reward  discount_rate
0        1  (1, 1, 1, 1, 1)  -15.00           1.00
6        1  (1, 1, 1, 1, 2)  -10.00           1.00
12       1  (1, 1, 1, 1, 3)   -9.00           1.00
18       1  (1, 1, 1, 2, 2)   -5.00           1.00
24       1  (1, 1, 1, 2, 3)   -4.00           1.00
..     ...              ...     ...            ...
101      6  (2, 2, 2, 2, 3)    6.50           0.59
107      6  (2, 2, 2, 3, 3)    7.09           0.59
113      6  (2, 2, 3, 3, 3)    7.68           0.59
119      6  (2, 3, 3, 3, 3)    8.27           0.59
125      6  (3, 3, 3, 3, 3)   17.71           0.59

[126 rows x 4 columns]

In [3]:
rewards.head(50)

     stage       game_state  reward  discount_rate
0        1  (1, 1, 1, 1, 1)  -15.00           1.00
6        1  (1, 1, 1, 1, 2)  -10.00           1.00
12       1  (1, 1, 1, 1, 3)   -9.00           1.00
18       1  (1, 1, 1, 2, 2)   -5.00           1.00
24       1  (1, 1, 1, 2, 3)   -4.00           1.00
30       1  (1, 1, 1, 3, 3)   -3.00           1.00
36       1  (1, 1, 2, 2, 2)    0.00           1.00
42       1  (1, 1, 2, 2, 3)    1.00           1.00
48       1  (1, 1, 2, 3, 3)    2.00           1.00
54       1  (1, 1, 3, 3, 3)    3.00           1.00
60       1  (1, 2, 2, 2, 2)    5.00           1.00
66       1  (1, 2, 2, 2, 3)    6.00           1.00
72       1  (1, 2, 2, 3, 3)    7.00           1.00
78       1  (1, 2, 3, 3, 3)    8.00           1.00
84       1  (1, 3, 3, 3, 3)    9.00           1.00
90       1  (2, 2, 2, 2, 2)   10.00           1.00
96       1  (2, 2, 2, 2, 3)   11.00           1.00
102      1  (2, 2, 2, 3, 3)   12.00           1.00
108      1  (2, 2, 3, 3, 3)   13.00           1.00
114      1  (2, 3, 3, 3, 3)   14.00           1.00
120      1  (3, 3, 3, 3, 3)   30.00           1.00
1        2  (1, 1, 1, 1, 1)  -16.67           0.90
7        2  (1, 1, 1, 1, 2)  -11.53           0.90
13       2  (1, 1, 1, 1, 3)  -10.63           0.90
19       2  (1, 1, 1, 2, 2)   -6.40           0.90
25       2  (1, 1, 1, 2, 3)   -5.50           0.90
31       2  (1, 1, 1, 3, 3)   -4.60           0.90
37       2  (1, 1, 2, 2, 2)   -1.27           0.90
43       2  (1, 1, 2, 2, 3)   -0.37           0.90
49       2  (1, 1, 2, 3, 3)    0.53           0.90
55       2  (1, 1, 3, 3, 3)    1.43           0.90
61       2  (1, 2, 2, 2, 2)    3.87           0.90
67       2  (1, 2, 2, 2, 3)    4.77           0.90
73       2  (1, 2, 2, 3, 3)    5.67           0.90
79       2  (1, 2, 3, 3, 3)    6.57           0.90
85       2  (1, 3, 3, 3, 3)    7.47           0.90
91       2  (2, 2, 2, 2, 2)    9.00           0.90
97       2  (2, 2, 2, 2, 3)    9.90           0.90
103      2  (2, 2, 2, 3, 3)   10.80           0.90
109      2  (2, 2, 3, 3, 3)   11.70           0.90
115      2  (2, 3, 3, 3, 3)   12.60           0.90
121      2  (3, 3, 3, 3, 3)   27.00           0.90
2        3  (1, 1, 1, 1, 1)  -18.52           0.81
8        3  (1, 1, 1, 1, 2)  -13.19           0.81
14       3  (1, 1, 1, 1, 3)  -12.38           0.81
20       3  (1, 1, 1, 2, 2)   -7.87           0.81
26       3  (1, 1, 1, 2, 3)   -7.06           0.81
32       3  (1, 1, 1, 3, 3)   -6.25           0.81
38       3  (1, 1, 2, 2, 2)   -2.55           0.81
44       3  (1, 1, 2, 2, 3)   -1.74           0.81

In [4]:
rewards.tail(50)

     stage       game_state  reward  discount_rate
81       4  (1, 2, 3, 3, 3)    3.90           0.73
87       4  (1, 3, 3, 3, 3)    4.63           0.73
93       4  (2, 2, 2, 2, 2)    7.29           0.73
99       4  (2, 2, 2, 2, 3)    8.02           0.73
105      4  (2, 2, 2, 3, 3)    8.75           0.73
111      4  (2, 2, 3, 3, 3)    9.48           0.73
117      4  (2, 3, 3, 3, 3)   10.21           0.73
123      4  (3, 3, 3, 3, 3)   21.87           0.73
4        5  (1, 1, 1, 1, 1)  -22.86           0.66
10       5  (1, 1, 1, 1, 2)  -16.98           0.66
16       5  (1, 1, 1, 1, 3)  -16.32           0.66
22       5  (1, 1, 1, 2, 2)  -11.09           0.66
28       5  (1, 1, 1, 2, 3)  -10.44           0.66
34       5  (1, 1, 1, 3, 3)   -9.78           0.66
40       5  (1, 1, 2, 2, 2)   -5.21           0.66
46       5  (1, 1, 2, 2, 3)   -4.55           0.66
52       5  (1, 1, 2, 3, 3)   -3.90           0.66
58       5  (1, 1, 3, 3, 3)   -3.24           0.66
64       5  (1, 2, 2, 2, 2)    0.68           0.66
70       5  (1, 2, 2, 2, 3)    1.33           0.66
76       5  (1, 2, 2, 3, 3)    1.99           0.66
82       5  (1, 2, 3, 3, 3)    2.64           0.66
88       5  (1, 3, 3, 3, 3)    3.30           0.66
94       5  (2, 2, 2, 2, 2)    6.56           0.66
100      5  (2, 2, 2, 2, 3)    7.22           0.66
106      5  (2, 2, 2, 3, 3)    7.87           0.66
112      5  (2, 2, 3, 3, 3)    8.53           0.66
118      5  (2, 3, 3, 3, 3)    9.19           0.66
124      5  (3, 3, 3, 3, 3)   19.68           0.66
5        6  (1, 1, 1, 1, 1)  -25.40           0.59
11       6  (1, 1, 1, 1, 2)  -19.14           0.59
17       6  (1, 1, 1, 1, 3)  -18.55           0.59
23       6  (1, 1, 1, 2, 2)  -12.88           0.59
29       6  (1, 1, 1, 2, 3)  -12.29           0.59
35       6  (1, 1, 1, 3, 3)  -11.70           0.59
41       6  (1, 1, 2, 2, 2)   -6.62           0.59
47       6  (1, 1, 2, 2, 3)   -6.03           0.59
53       6  (1, 1, 2, 3, 3)   -5.44           0.59
59       6  (1, 1, 3, 3, 3)   -4.85           0.59
65       6  (1, 2, 2, 2, 2)   -0.36           0.59
71       6  (1, 2, 2, 2, 3)    0.23           0.59
77       6  (1, 2, 2, 3, 3)    0.82           0.59
83       6  (1, 2, 3, 3, 3)    1.41           0.59
89       6  (1, 3, 3, 3, 3)    2.01           0.59
95       6  (2, 2, 2, 2, 2)    5.90           0.59
101      6  (2, 2, 2, 2, 3)    6.50           0.59
107      6  (2, 2, 2, 3, 3)    7.09           0.59
113      6  (2, 2, 3, 3, 3)    7.68           0.59
119      6  (2, 3, 3, 3, 3)    8.27           0.59
125      6  (3, 3, 3, 3, 3)   17.71           0.59

## Play

In [5]:
import os
from src.wordle_agent.dqn_agent import WordleAgent, AgentConfig
from src.wordle_gym.env import Wordle
import tensorflow as tf

config = AgentConfig()
config.SEED = 42
config.ITERATIONS = int(2e5)
config.INITIAL_COLLECT_STEPS = int(1e3)
config.REPLAY_BUFFER_MAX_LENGTH = int(5e4)
config.BATCH_SIZE = 64
config.LEARNING_RATE = 1e-5
config.LOG_INTERVAL = int(1e3)
config.EVAL_EPISODES = int(1e3)
config.fc_layer_params = (1024, 1024, 1024)
config.EPSILON = 0.3
config.PREFETCH_BUFFER = 3
config.mode = "easy"
config.EPOCHS = config.ITERATIONS // config.LOG_INTERVAL
config.history_dir = os.path.join(
    config.dir, 'history', f"history_{config.mode}.json")

agent = WordleAgent(config=config)

/usr/local/lib/python3.8/dist-packages/tf_agents/__init__.py:56: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if (distutils.version.LooseVersion(tf_version) <
/usr/local/lib/python3.8/dist-packages/tensorflow_probability/python/__init__.py:57: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if (distutils.version.LooseVersion(tf.__version__) <
/usr/local/lib/python3.8/dist-packages/scipy/special/orthogonal.py:81: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from numpy import (exp, inf, pi, sqrt, floor, sin, cos, around, int,
/usr/local/lib/python3.8/dist-packages/tf_agents/typing/types.py:81: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  Bool = Union[bool, np.bool, Tensor, Array]
2022-05-21 10:25:38.476534: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:38.501716: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:38.501963: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:38.502751: I tensorflow/core/platform/cpu_feature_guard.cc:152] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE3 SSE4.1 SSE4.2 AVX
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-21 10:25:38.506384: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:38.506688: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:38.506952: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:39.022713: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:39.023287: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:39.023365: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1609] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2022-05-21 10:25:39.023773: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:938] could not open file to read NUMA node: /sys/bus/pci/devices/0000:09:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-05-21 10:25:39.023958: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 9343 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3060, pci bus id: 0000:09:00.0, compute capability: 8.6
2022-05-21 10:25:40.225931: I tensorflow/stream_executor/cuda/cuda_blas.cc:1804] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

In [6]:
agent.play()

Round: 1, Board state: [1, 1, 2, 1, 1]
Round: 2, Board state: [1, 2, 1, 3, 2]
Round: 3, Board state: [3, 1, 1, 3, 2]
Round: 4, Board state: [3, 3, 3, 3, 3]